/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Default Styles 
--------------------------------------------------------------------*/

body {
	background: url('img/denim.png');
	font-family: 'Droid Sans', sans-serif;;
}

.clearfix {
	clear: both;
}

.wrap {
	z-index:10;
	position:fixed;
	width: 100%;
	height:50px;
}

.wrap nav{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ccccc')";
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);
	background-image: -moz-linear-gradient(top, #fff, #ccc);
	background-image: -o-linear-gradient(top, #fff, #ccc);
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
	padding: 0 10px;
	position: relative;
	width:100%;
	height:50px;
}
.title{
	font-weight: bold;
	font-size: 17px;
	color: #444;
	float: right;
	position: relative;
}
.menu li {
	float: left;
	position: relative;
}

.menu li a {
	color: #444;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}


/* Dropdown styles */
.menu ul {
	position: absolute;
	left: -9999px;
	list-style: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.menu ul li {
	float: none;
}

.menu ul a {
	white-space: nowrap;
}
.menu li:hover ul {
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	left: 5px;
	top: 40px;
	position:absolute;
	opacity: 1;
}

/* Persistant Hover State */


.menu li:hover ul a {
	background: none;
	border-radius: 0;
	box-shadow: none;
}

.menu li:hover ul li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
}
.cart_quantity{
	top:2px;
	left:22px;
	position: absolute;
	color: #FF7F50;
}
.cart_pic{
	font-size: 10px;
	top:8px;
	left:10px;
	position: absolute;
}
.menu li.dropdown{
	width:80px;
	height:40px;
	border: 5px solid transparent;
}
.menu li.dropdown:hover{
	background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
.menu li .cart_container{
	left: 20px;
	position: absolute;
}
.searchbutton {
	background: -webkit-gradient(linear, center top, center bottom, from(#bbb), to(#000));
	font-size: 12px;
	width: 100px;
	height: 25px;
	color: #DFDFDF;
}
.searchtext{
	width: 300px;
}
.searchfield{
	
	border-radius:10px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.searchform{
	top:10px;
	position: absolute;
	right: 40%;
}
.dropdownright{
	right: 1%;
	position: absolute;
}
.nav_label{
	top:10px;
	right: 10%;
	position: absolute;
	color:#00008B;
}
.checkout_table{

	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
}
.checkout_table td,th{
	font-size:large;
  	color:#678197;
	border-bottom:1px solid #e5eff8;
	border-left:1px solid #e5eff8;
	padding:.3em 1em;
	text-align:center;
}
.checkout_form{
	position:absolute;
	left:40%;
	top:80px;	
}
.checkout_form .check_out_submit{
	position:relative;
	left:220px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background: #64c8ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
	color: #fff;
	padding: 5px 15px;
	margin-right: 0;
	margin-top: 15px;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.order{
	width:320px;
	float:none;
	font-size: 24px;
}
.order input{
	line-height: 2.3em;
	font-size: 14px;
}
.order select{
	line-height: 1.5em;
	font-size: 20px;
}
.checkout_form select{
	width:320px;
    padding:3px;
    margin: 0;
    border-radius:2px;
    border-color:#BBBBBB;
    color:#888;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
.checkout_form option{
	padding:5px;
	font-size:medium;
}
